<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://kz.oj.mailingdaemon/menu.application" insertBefore="administration">
        <item screen="MailingList.browse"
              caption="msg://kz.oj.mailingdaemon.screen.mailinglist/mailingListBrowse.menu"/>
        <item screen="Sender.browse" caption="msg://kz.oj.mailingdaemon.screen.sender/senderBrowse.menu"/>
        <item screen="SenderType.browse" caption="msg://kz.oj.mailingdaemon.screen.sendertype/senderTypeBrowse.menu"/>
    </menu>

</menu-config>